/* @font-face {
    font-family:pantasia;
    src: url(/friction/pantasia.otf);
} */

body{
    /* font-family:pantasia; */
    font-family:'Times New Roman', Times, serif;
}

#center{
    position:fixed;
    display:none;
    text-align:center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:100;
    mix-blend-mode:exclusion;
    color:black;
}

#answer{
    opacity:0%;
}

#container{
	display:none;
    flex-direction:column;
    line-height:0px;
    transform:translateX(1000px);
    /* animation:container-transform 50s cubic-bezier(0.8,0,0.2,1); */
}

/* @keyframes container-transform{
    from{
        transform:translateX(0px);
    }
    to{
        transform:translateX(500px);
    }
} */

.item{
    margin:2px;
    position:relative;
}

.name-wrapper{
    margin-bottom:10px;
}

.name-input{
    width:200px;
    height:20px;
    border:1px solid black;
}

.header-flip{
    transform: rotate(180deg);
}

#header{
    z-index: 999;
    display:flex;
    justify-content:center;
}